git+https://github.com/Joelkb/cinemagoer
pyrogram>=2.0.30
imdbpy==2022.7.9
tgcrypto
pymongo==4.8.0
motor==3.5.1
marshmallow==3.14.1
cinemagoer
umongo==3.1.0
cinemagoer
requests
bs4
heroku3
pynewtonmath
pytz
aiohttp
datetime
gunicorn
Flask
dnspython==2.3.0
